#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.education-item,
.interest-item {
  margin-bottom: 20px;
  text-align: left;
}

.education-item h4,
.interest-item h4 {
  font-size: 16px;
  margin: 0;
}

.education-item p,
.interest-item p {
  margin: 5px 0;
  font-size: 14px;
}

.interest-item li {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

/* レスポンシブ対応 */
@media (max-width: 1200px) {
  .about-containers {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .details-container {
    padding: 1rem;
  }

  .section-container {
    gap: 3rem;
  }

  .section__pic-container {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 992px) {
  .about-containers {
    flex-direction: column;
    align-items: center;
  }

  .details-container {
    width: 90%;
    padding: 1rem;
  }

  .section-container {
    gap: 2rem;
    height: auto;
  }

  .section__pic-container {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .arrow {
    right: 50%;
    transform: translateX(50%);
    bottom: 2rem;
  }

  .about-containers {
    gap: 1rem;
  }

  .details-container {
    padding: 0.5rem;
  }

  .section__pic-container {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 576px) {
  .about-containers {
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .details-container {
    padding: 0.5rem;
  }

  .section__pic-container {
    height: 200px;
    width: 200px;
  }
  .arrow {
    right: 50%;
    transform: translateX(50%);
    bottom: 1.5rem;
  }
}
