#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.section__pic-container img {
  border-radius: 2rem;
  max-width: 100%;
  height: auto;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  #profile {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: auto;
  }

  .section__pic-container {
    height: auto;
    width: 80%;
  }

  .section__text__p2 {
    font-size: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .section__pic-container {
    height: auto;
    width: 60%;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }
}
