section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  position: relative;
  padding-bottom: 5rem; /* Add padding to the bottom to avoid overlap */
}

.section-container {
  display: flex;
}

/* Responsive */
@media (max-width: 768px) {
  section {
    margin: 0 5rem; /* Adjust margins for smaller screens */
    padding-top: 3vh; /* Adjust padding for smaller screens */
    padding-bottom: 6rem; /* Adjust padding for medium screens */
  }
}

@media (max-width: 576px) {
  section {
    margin: 0 2rem; /* Further adjust margins for even smaller screens */
    padding-top: 2vh; /* Further adjust padding */
    padding-bottom: 7rem; /* Adjust padding for small screens */
  }

  .section-container {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center align items */
  }
}
